flows (3).json
[{"id":"2eef2ec2.b410a2","type":"tab","label":"sem6 lab2 ","disabled":true,"info":""},{"id":"9b398c5e.f4381","type":"function","z":"2eef2ec2.b410a2","name":"a","func":"var a=Math.round(Math.random()*48)+29;\nvar b=Math.round(Math.random()*1);\nvar c=Math.round(Math.random()*3);\nvar d=Math.round(Math.random()*106)+94;\nvar e=Math.round(Math.random()*438)+126;\nvar f=Math.round(Math.random()*1);\nvar g=Math.round(Math.random()*2);\nvar h=Math.round(Math.random()*131)+71;\nvar i=Math.round(Math.random()*1);\nvar j=Math.round(Math.random()*6);\nvar k=Math.round(Math.random()*2);\nvar l=Math.round(Math.random()*4);\nvar m=Math.round(Math.random()*3);\nmsg.payload=a+\",\"+b+\",\"+c+\",\"+d+\",\"+e+\",\"+f+\",\"+g+\",\"+h+\",\"+i+\",\"+j+\",\"+k+\",\"+l+\",\"+m;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":320,"wires":[["a8dcd8b8.9c4858","20846b53.31f674"]]},{"id":"6fc7bc1b.85e404","type":"inject","z":"2eef2ec2.b410a2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["9b398c5e.f4381"]]},{"id":"a8dcd8b8.9c4858","type":"file","z":"2eef2ec2.b410a2","name":"","filename":"C:\\Users\\siddharth\\Desktop\\proj.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":700,"y":240,"wires":[[]]},{"id":"d2595a2a.b260f8","type":"inject","z":"2eef2ec2.b410a2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["60db6235.5ce03c"]]},{"id":"60db6235.5ce03c","type":"function","z":"2eef2ec2.b410a2","name":"","func":"var a='age';\nvar b='gender';\nvar c='cp';\nvar d='tre';\nvar e='chol';\nvar f='fbs';\nvar g='rest';\nvar h='thalch';\nvar i='exang';\nvar j=\"oldpeak\";\nvar k=\"slope\";\nvar l=\"ca\";\nvar m=\"thal\";\n\nmsg.payload=a+\",\"+b+\",\"+c+\",\"+d+\",\"+e+\",\"+f+\",\"+g+\",\"+h+\",\"+i+\",\"+j+\",\"+k+\",\"+l+\",\"+m;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["a8dcd8b8.9c4858"]]},{"id":"20846b53.31f674","type":"debug","z":"2eef2ec2.b410a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]}]